<table>
  <tr>
    <td bgcolor="#fffaf0">Title:</td>
    <td bgcolor="#00bfff"><%= book.title %></td>
  </tr>
  <tr>
    <td bgcolor="#fffaf0">Author:</td>
    <td bgcolor="#00bfff"><%= book.author %></td>
  </tr>

</table>