<hr width="75%">
<table>
    <tr>
        <td bgcolor="aqua">This is my footer. It contains some links. <%= link_to 'Contact us', contact_path %>
          <%= link_to 'Overview', overview_path %></td>
    </tr>
</table>